extends ./../../partials/header.pug
block title
    title=title
block cssLink
    link(rel="stylesheet" href="/assets/css/home.css")
    link(rel="stylesheet" href="/assets/css/profile.css")
    link(rel="stylesheet" href="/assets/css/toastify.css")
block jsScript
    script(src="/assets/js/search.js" defer)
    script(src="/assets/js/app.js" defer)
    <script type="text/javascript" src="/assets/js/toastify.js" defer></script>
    <script type="text/javascript" src="/assets/js/moment.js" defer></script>
block bodyContent
    - avatarUrl = user.avatarProfile ? `/uploads/${user._id}/profile/${user.avatarProfile}` : `/uploads/profile/avatar.png`;
    include ./../../partials/replyModal.pug
    include ./../../partials/profileAndCoverUpdate.pug
    main.main
        include ./../../partials/left_side.pug
        .middle_side_container
            .post_header
                h4
                    button(onclick="history.back()" class="backBtn")
                        i.fas.fa-arrow-left
                    |Search
                i.fas.fa-star
            .searchBox_container
                i.fas.fa-search
                input#searchInput(type="search" placeholder="Search " + tab, name="")
            .tabs_container
                a.post_tab(class=tab === 'posts' ? 'active' : '' href='/search') Tweet

                a.reply_tab(class=tab === 'users' ? 'active' : '' href='/search/user') User
            .tweetPost_container
            .followFollowing_container

        .right_side_container
    script.
        const user = !{userObj}
        const tab = '!{tab}'
        const userProfileJs = {}