extends ./../../partials/header.pug
block title
    title=title
block cssLink
    link(rel="stylesheet" href="/assets/css/home.css")
    link(rel="stylesheet" href="/assets/css/toastify.css")
block jsScript
    script(src="/assets/js/app.js" defer)
    script(src="/assets/js/home.js" defer)
    <script type="text/javascript" src="/assets/js/toastify.js" defer></script>
block bodyContent
    - avatarUrl = user.avatarProfile ? `/uploads/${user._id}/profile/${user.avatarProfile}` : `/uploads/profile/avatar.png`;
    include ./../../partials/replyModal.pug
    .overlay
    main.main
        include ./../../partials/left_side.pug
        .middle_side_container
            .post_header
                h4.d-flex Latest Tweet 
                i.fas.fa-star
            .create_post
                .user_avatar
                    .activeStatus.tweetActiveStatus.active(data-activeStatus='active now')
                    a(href=`/profile/` + user.username)
                        img(src=avatarUrl alt="Avatar")
                .post_area
                    textarea#textAreaContent(placeholder="What's happening")
                    #postImageContainer
                    .post_actions.mt-3
                        label(for="postImage")
                            i.fas.fa-image
                            input#postImage(type="file" multiple hidden)
                        button#tweetBtn(disabled) Tweet
            .tweetPost_container
        .right_side_container
    script.
        const user = !{userObj}