extends ./../../partials/header.pug
block title
    title=title
block cssLink
    link(rel="stylesheet" href="/assets/css/home.css")
    link(rel="stylesheet" href="/assets/css/profile.css")
    link(rel="stylesheet" href="/assets/css/messages.css")
block jsScript
    script(src="/assets/js/app.js" defer)
    script(src="/assets/js/chat.js" defer)
block bodyContent
    - avatarUrl = user.avatarProfile ? `/uploads/${user._id}/profile/${user.avatarProfile}` : `/uploads/profile/avatar.png`;
    main.main
        include ./../../partials/left_side.pug
        .middle_side_container
            .post_header
                h4.d-flex Chat
                a(href="/messages/newMessages") 
                    i.fas.fa-plus
            .chat_container
                .chat_header
                    .chatImage
                    .chatName
                .chat_message
                    ul
                        li Hello, How are you?
                .chat_footer
                    textarea#msgInput(placeholder='Type a message...' rows="1")
                    button 
                        i.fas.fa-paper-plane
        .right_side_container
    script.
        const user = !{userObj}
        const chatId = '!{chatId}'