extends ./../../partials/header.pug
block title
    title=title
block cssLink
    link(rel="stylesheet" href="/assets/css/home.css")
    link(rel="stylesheet" href="/assets/css/profile.css")
    link(rel="stylesheet" href="/assets/css/toastify.css")
block jsScript
    script(src="/assets/js/app.js" defer)
    script(src="/assets/js/follow.js" defer)
    <script type="text/javascript" src="/assets/js/toastify.js" defer></script>
    <script type="text/javascript" src="/assets/js/moment.js" defer></script>
block bodyContent
    - avatarUrl = user.avatarProfile ? `/uploads/${user._id}/profile/${user.avatarProfile}` : `/uploads/profile/avatar.png`;
    #replyModal.modal.fade(aria-hidden='true' aria-labelledby='commentModalTitle' tabindex='-1')
        .modal-dialog.modal-dialog-centered
            .modal-content.shadow-lg
                .modal-header
                    h2#commentModalTitle.modal-title.fs-5 Reply
                    button.btn-close(type='button' class="btn-close btn-close-white" data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                .modal-footer
                    .create_reply
                        .user_avatar
                            img(src=avatarUrl alt="Avatar")
                        .reply_area
                            textarea#replyTextAreaContent(placeholder="What's happening" spellcheck='false')
                            .replyImageContainer
                            .reply_actions.mt-3
                                label(for='replyPostImage')
                                    i.fas.fa-image(aria-hidden='true')
                                    input#replyPostImage(type='file' multiple='' hidden='')
                                button#replyBtn(disabled onclick="clearInputData()") Reply Tweet
    main.main
        .left_side_container
            .left_top_area
                .logo_area
                    a(href="/" class="logoIcon")
                        i.fab.fa-twitter
                .menu_section.mt-2
                    nav.nav
                        a.nav_link(href="/")
                            span
                                i.fas.fa-home
                                .notification_box 1
                            |Home 
                        a.nav_link(href="/explore")
                            span
                                i.fas.fa-hashtag
                                .notification_box
                            |Explore 
                        a.nav_link(href="/notification")
                            span
                                i.fas.fa-bell
                                .notification_box
                            |Notification 
                        a.nav_link(href="/message")
                            span
                                i.fas.fa-envelope
                                .notification_box
                            |Message 
                        a.nav_link(href="/bookmarks")
                            span 
                                i.far.fa-bookmark
                                .notification_box
                            | Bookmarks
                        a.nav_link(href="/lists")
                            span 
                                i.fas.fa-list
                                .notification_box
                            | Lists
                        a.nav_link(href=`/profile/${user.username}`)
                            span
                                i.fas.fa-user-circle
                                .notification_box
                            |Profile
                        a.nav_link
                            span
                                i.fas.fa-ellipsis-h
                            |More
                    .tweet_btn.mt-3
                        button Tweet
            .left_bottom_area 
                .user_profile_info
                    img(src=avatarUrl alt="Avatar")
                    .info
                        h5 #{user.firstName + " " + user.lastName}
                        span #{user.username}
                    i.fas.fa-ellipsis-h
                .menu.active.shadow
                    a(href="/logout") Log out #{user.username}
        .middle_side_container
            .post_header
                h4
                    button(onclick="history.back()" class="backBtn")
                        i.fas.fa-arrow-left
                    |Profile
                i.fas.fa-star
            if userProfile !== null
                .profile_container
                    - profileAvatarUrl = userProfile.avatarProfile ? `/uploads/${userProfile._id}/profile/${userProfile.avatarProfile}` : `/uploads/profile/avatar.png`;

                    - coverAvatarUrl = userProfile.coverImg ? `/uploads/${userProfile._id}/cover/${userProfile.coverImg}` : `/uploads/profile/avatar.png`;
                    .cover_img
                        img(src=coverAvatarUrl alt="")
                    .avatar_profile
                        img(src=profileAvatarUrl alt="Avatar")
                .actionsBtn
                    if userProfile.username !== user.username
                        button(class='msg')
                            i.fas.fa-envelope
                        - isFollowing = userProfile.followers && userProfile.followers.includes(user._id.toString())
                        button.follow(class=isFollowing ? 'active' : '' onclick=`followHandler(event,"${userProfile._id}")`) #{isFollowing ? 'Following' : 'Follow'}
                .userDetails_container
                    h4.name #{userProfile.firstName + ' ' + userProfile.lastName}
                    span.username #{userProfile.username}

                    - followers = userProfile.followers && userProfile.followers.length || 0
                    - following = userProfile.following && userProfile.following.length || 0
                    .followLinks
                        a(href=`/profile/${userProfile.username}/following` class='followers')
                            span.value #{following}
                            |Following
                        a(href=`/profile/${userProfile.username}/followers` class='following')
                            span.value #{followers}
                            |Followers
                .tabs_container
                    a.post_tab(class=tab === 'followers' ? 'active' : '' href=`/profile/` + userProfile.username + '/followers') Followers

                    a.reply_tab(class=tab === 'following' ? 'active' : '' href=`/profile/` + userProfile.username + '/following') Following
                .followFollowing_container
            else
                .userNotFound
                    img(src="./../../../assets/images/404-error.png")
                    h4.mt-2.text-danger User not Found
                    button
                        a(href="/") Go Home
        .right_side_container
    script.
        const user = !{userObj}
        const tab = '!{tab}'
        const userProfileJs = !{userProfileJs}